* {
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

.bg_img {
    background-image: url(bg_img.jpg);
    background-size: cover; 
    background-position: center;
    width: 100vw; 
    height: 100vh; 
    overflow: hidden;
}

.nav_bar {
    height: 60px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.804);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    font-size: x-large;
}

.nav_links {
    display: flex;
    gap: 15px;
}

.nav_links a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px;
}

.nav_links a:hover {
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.footer {
    margin-bottom: 70px;
    height: 70px;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.804);
    color: white;
    text-align: center;
    font-size: 20px;
}
.footer p a{
    padding-top: 5px;
    text-decoration: none;
    color: white;
}

.signup {
    height: 610px;
    width: 850px;
    margin-left: 370px;
    background-color: #e7e9e8;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
}

.content {
    display: flex;
    margin-top: 20px;
    justify-content: center;
    align-items: flex-start;
}

.books {
    height: 250px;
    margin-top: 70px;
    margin-right: 20px;
    border-radius: 15px;
}

.registration-form {
    display: flex;
    flex-direction: column;
    height: 420px;
    width: 350px;
    padding: 20px;
    border-radius: 10px;
    background-color: white;
}

.registration-form label {
    font-size: 16px;
    font-weight: bold;
}

.registration-form input,
.registration-form textarea {
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: 100%;
}
.main .bg_img .signup .registration-form .label{
    margin-top: 10px;
}
.registration-form button {
    margin-top: 20px;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.registration-form button:hover {
    background-color: #0056b3;
}
